<div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/elizabeth-hollinger-dpt-31683b128/">LinkedIn</a>
    <a class="footer-link" href="https://github.com/EHollingerFllStk">GitHub</a>
    <a class="footer-link" href="https://www.ncbi.nlm.nih.gov">Evidence-based Content</a>
    <p class="copyright">©2022 Elizabeth Hollinger</p>
</div>