<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/style_new.css" />
    
    <title>Essential Oil Recipes</title>
</head>
<%- include('../partials/nav.ejs') %>
</div>

<body>
    <div class="middle-container" id="oil">
        <h1>
            Add New Recipe  
        </h1>
       <br />
    </div>
    <div class="content-row">
        <p>
            
        </p>
        <br />
    </div>
    <%- include('../partials/footer.ejs')%>
</body>

</html>