<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/style.css" />
    <title>Essential Oils</title>
</head>

<body>
    <header>

        <h1>Find Healing With Essential Oils</h1>
        <div class="container">
            <p>
                <% oils.forEach(oil=> { %>
                    <p>
                        <a href="/oils/<%=oil._id; %>">
                            <%=oil.name; %>
                        </a>

                    </p>
                    <% }) %>
            </p>
        </div>
        <nav class="new">
            <a href="/oils/new">Add a New Essential Oil</a>
        </nav>
    </header>
</body>

</html>