<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Essential Oils</title>
</head>

<body>
    <header>

        <h1>Find Healing With Essential Oils</h1>
        <nav>
            <ul>
                <% oils.forEach(oil=> { %>
                    <li>
                        <a href="/oils/<%=oil._id; %>">
                            <%=oil.name; %>
                        </a>
                       
                    </li>
                    <% }) %>
            </ul>
        </nav>
        <nav>
            <a href="/oils/new">Add a New Essential Oil</a>
        </nav>
    </header>
</body>

</html>