<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Roboto:wght@300;400;900&family=Sacramento&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/style_new.css" />
    
    <title>Essential Oil Recipes</title>
</head>
    
</div>
<div class="top-container">
    <nav>
        <ul id="myLinks">
            <li><a href="/oils">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="https://github.com/EHollingerFllStk">Contact</a></li>
            <li><a href=""></a></li>
        </ul>
    </nav>
</div>
<a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
</a>
<body>
    <div class="middle-container" id="oil">
        <h1>
            Welcome
        </h1>
       <br />
    </div>
    <div class="content-row">
        <p style="font-size: 18px;">
            This app allows the users to log essential oils and associated data, and create and store essential oil recipes.  It is designed for naturopathic physicians, integrative physicians, massage therapists and others in the health and beauty fields.
        </p> 
        <p style="font-size: 18px;">Essential Oils have been used for centuries in many cultures around the world for their pathogenic and healing effects. More recently, their popularity has increased as an alternative to traditional practices.<br>
           
    </div>
    <div>
        <a class="btn" href="/oils">Home</a>
    </div>
    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/elizabeth-hollinger-dpt-31683b128/">LinkedIn</a>
        <a class="footer-link" href="https://github.com/EHollingerFllStk">GitHub</a>
        <a class="footer-link" href="https://www.ncbi.nlm.nih.gov">Evidence-based Content</a>
        <p class="copyright">©2022 Elizabeth Hollinger</p>
    </div>
</body>

</html>