<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Essential Oils</title>
	</head>
	<body>
		<h1>Add New Essential Oils</h1>
		<form action="/oils" method="POST">
			Name of Oil: <input type="text" name="name" /><br />
            Image: <input type="text" name="img"/> <br />
			Description: <input type="text" name="description" /><br />
			Uses: <input type="text" name="uses" /><br />
			<input type="submit" name="" value="Add Essential Oil" />
		</form>
	</body>
	</body>
</html>
