body {
    background-image: url("https://i.imgur.com/v2KVYBZ.jpg");
    background-size: cover;
    height: 610px;
    /* text-align: right; */
    font-family: 'Roboto', sans-serif;
}

.container {
    width:80%;
    margin: 0 auto;
}

.container2 {
    width: 80%;
    margin: 0 auto;
}

h1 {
    float: left;
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: left; 
    margin-top: 60px; 
    margin-right: 800px;

}

p {
    float: left;
    font-size: 48px;
    font-family: 'Euphoria Script', cursive;
    font-style: italic;
    font-weight: 400;
    text-align: left; 
    margin-top: 350px; 
    margin-right: 850px;
}

li {
    list-style: none;
}

header {
    background: opaque;

}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding:0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
  
}
    
nav a {
    text-decoration: none;
    text-transform: uppercase;

}

nav a:hover {
    color: #fff
}
    
.container3{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    max-width: 300px;
    margin: 10px auto;
    padding: 0;
    position: absolute;
    top: 200px;
    right: 100px;
}

.new {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    max-width: 300px;
    margin: auto;
    position: absolute;
    top: 700px;
    right: 100px;

}