body {
    background-image: url("https://image.shutterstock.com/image-photo/beautiful-composition-spa-treatment-on-260nw-355531091.jpg");
    background-size: cover;
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
h1 {
    color: #354259;
    font-size: 562.5%;
    margin: 50px auto 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  
p {
    font-family: 'Sacramento', cursive;
    font-size: 350%;
  }

a {
    color: #354259;
    font-family: "Roboto", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
a:hover {
    color: #eaf6f6;
  }
  
.top-container {
    background-color: #C2DED1;
    position: relative;
    padding: 0 0 25px 20px;
    font-family: "Roboto", sans-serif;
    
  }
  
.middle-container {
    margin: 100px 0;
    font-family: 'Roboto', cursive;
  }
  
.bottom-container {
    background-color: #C2DED1;
    margin-top: 50px;
    padding: 50px 0 20px;
  }
  
.content-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    font-family: "Roboto", sans-serif;
    font-weight:bold;
    word-wrap: break-word;
  }
  
.copyright {
    font-family: 'Roboto', sans-serif;
    color: #354259;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  
header {
    background: opaque;

}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    
    margin: 5px 10px 0 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;

}

nav a {
    text-decoration: none;
    text-transform: uppercase;

}

nav a:hover {
    color: #fff
}

label {
  font-family: 'Oswald';
  font-weight: 200;
  color: var(--bright-orange);
  display: block;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--light-green);
  border-radius: 5px;
}

.btn {
    background: #ebe4ca;
    background-image: -webkit-linear-gradient(top, #ebe4ca, #ccc1af);
    background-image: -moz-linear-gradient(top, #ebe4ca, #ccc1af);
    background-image: -ms-linear-gradient(top, #ebe4ca, #ccc1af);
    background-image: -o-linear-gradient(top, #ebe4ca, #ccc1af);
    background-image: linear-gradient(to bottom, #ebe4ca, #ccc1af);
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #c1c6c9;
    background-image: -webkit-linear-gradient(top, #c1c6c9, #747b80);
    background-image: -moz-linear-gradient(top, #c1c6c9, #747b80);
    background-image: -ms-linear-gradient(top, #c1c6c9, #747b80);
    background-image: -o-linear-gradient(top, #c1c6c9, #747b80);
    background-image: linear-gradient(to bottom, #c1c6c9, #747b80);
    text-decoration: none;
  }
.btn {
    background: #ebe4ca;
    background-image: -webkit-linear-gradient(top, #ebe4ca, #ccc1af);
    background-image: -moz-linear-gradient(top, #ebe4ca, #ccc1af);
    background-image: -ms-linear-gradient(top, #ebe4ca, #ccc1af);
    background-image: -o-linear-gradient(top, #ebe4ca, #ccc1af);
    background-image: linear-gradient(to bottom, #ebe4ca, #ccc1af);
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    border:none;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #c1c6c9;
    background-image: -webkit-linear-gradient(top, #c1c6c9, #747b80);
    background-image: -moz-linear-gradient(top, #c1c6c9, #747b80);
    background-image: -ms-linear-gradient(top, #c1c6c9, #747b80);
    background-image: -o-linear-gradient(top, #c1c6c9, #747b80);
    background-image: linear-gradient(to bottom, #c1c6c9, #747b80);
    text-decoration: none;
    border: none;
  }
    