body {
    background-size: cover;
    height: 610px;
    text-align: right;
    align-content: center;


}

h1 {
    float: left;
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
    margin-right: 800px;
}

h3 {
    font-size: 24px;
    font-weight:400;
}

.container {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
    margin-left: 50px;
}

header {
    background: opaque;

}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;

}

nav a {
    text-decoration: none;
    text-transform: uppercase;

}

nav a:hover {
    color: #fff
}